KEYCLOAK_ADMIN=<KEYCLOAK_ADMIN>
KEYCLOAK_ADMIN_PASSWORD=<KEYCLOAK_ADMIN_PASSWORD>
KEYCLOAK_MAIL_HOST=smtp.gmail.com
KEYCLOAK_MAIL_PORT=587
KEYCLOAK_MAIL_USERNAME=<KEYCLOAK_MAIL_USERNAME>
KEYCLOAK_MAIL_PASSWORD=<KEYCLOAK_MAIL_PASSWORD>
KEYCLOAK_MAIL_STARTTLS=true
KEYCLOAK_MAIL_AUTH=true