DATABASE_URL=<DATABASE_URL>
NEXTAUTH_SECRET=<NEXTAUTH_SECRET>
NEXTAUTH_URL=<NEXTAUTH_URL>
ALLOWED_EMAILS=<ALLOWED_EMAILS>
NODE_ENV=development

KEYCLOAK_ID=madec
KEYCLOAK_SECRET=<KEYCLOAK_SECRET>
KEYCLOAK_ISSUER=<KEYCLOAK_ISSUER>