DATABASE_URL=<DATABASE_URL>
NEXTAUTH_SECRET=<NEXTAUTH_SECRET>
NEXTAUTH_URL=http://15.237.21.246
ALLOWED_EMAILS=<ALLOWED_EMAILS>
NODE_ENV=development

KEYCLOAK_ID=madec
KEYCLOAK_SECRET=<KEYCLOAK_SECRET>
KEYCLOAK_ISSUER=http://15.237.21.246:8080/realms